.overlay {
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.descriptionWrapperRight,
.descriptionWrapperLeft {
  top: 50%;
  transform: translateY(-50%);
}

.cover {
  width: 400px;
  height: auto;
  display: block;
}

.description {
  max-width: 370px;
}
